/* Label */
.label{
    -fx-text-fill: #61AFEF;
    -fx-font-family: Verdana;
    -fx-font-size: 16;
}

/* Spinner */
.spinner .increment-arrow-button{
    -fx-background-color: #282c34;
    -fx-border-color: #5C6370;
}
.spinner .increment-arrow-button:hover{
    -fx-background-color: #5C6370;
}
.spinner .increment-arrow-button:pressed{
    -fx-background-color: #61AFEF;
}
.spinner .increment-arrow-button .increment-arrow{
    -fx-background-color: #61AFEF;
}
.spinner .increment-arrow-button:pressed .increment-arrow{
    -fx-background-color: #5C6370;
}
.spinner .decrement-arrow-button{
    -fx-background-color: #282c34;
    -fx-border-color: #5C6370;
}
.spinner .decrement-arrow-button:hover{
    -fx-background-color: #5C6370;
}
.spinner .decrement-arrow-button:pressed{
    -fx-background-color: #61AFEF;
}
.spinner .decrement-arrow-button .decrement-arrow{
    -fx-background-color: #61AFEF;
}
.spinner .decrement-arrow-button:pressed .decrement-arrow{
    -fx-background-color: #5C6370;
}

/* Text Field */
.text-field{
    -fx-text-fill: #61AFEF;
    -fx-font-family: Verdana;
    -fx-font-size: 16;
    -fx-background-color: #282c34;
    -fx-border-color: #5C6370;
}
.text-field:hover{
    -fx-background-color: #5C6370;
    -fx-text-fill: #61AFEF;
}
.text-field:focused{
    -fx-background-color: #5C6370;
    -fx-text-fill: #61AFEF;
}

/* Background */
#background{
    -fx-background-color: #282c34;
}

/* Button */
.button{
    -fx-background-color: #282c34;
    -fx-text-fill: #61AFEF;
    -fx-font-family: Verdana;
    -fx-font-size: 16;
    -fx-border-color: #5C6370;
}
.button:hover{
    -fx-background-color: #5C6370;
    -fx-text-fill: #61AFEF;
}
.button:armed{
    -fx-background-color: #61AFEF;
    -fx-text-fill: #5C6370;
}

/* Toggle Button */
.toggle-button{
    -fx-background-color: #282c34;
    -fx-text-fill: #61AFEF;
    -fx-font-family: Verdana;
    -fx-font-size: 16;
    -fx-border-color: #5C6370;
}
.toggle-button:hover{
    -fx-background-color: #5C6370;
    -fx-text-fill: #61AFEF;
}
.toggle-button:armed{
    -fx-background-color: #61AFEF;
    -fx-text-fill: #5C6370;
}
.toggle-button:selected{
    -fx-background-color: #61AFEF;
    -fx-text-fill: #5C6370;
}

/* Radio Button */
.radio-button {
    -fx-text-fill: #61AFEF;
}
/*
.radio-button .radio {
    -fx-border-width: 1px;
    -fx-border-color: #000;
    -fx-background-color: white;
    -fx-border-radius: 4px;
    -fx-padding: 4px;
}
.radio-button .radio:selected {
    -fx-background-color: #61AFEF;
}
.radio-button -radio:armed {
    -fx-background-color: #61AFEF;
}
.radio-button -radio:determinate {
    -fx-background-color: #61AFEF;
}
.radio-button -radio:indeterminate {
    -fx-background-color: #61AFEF;
}
.radio-button .dot {
    -fx-background-radius: 4px;
    -fx-padding: 4px;
}
*/

/* List Cell */
.list-cell{
    -fx-background-color: #282c34;
    -fx-text-fill: #61AFEF;
    -fx-font-family: Verdana;
    -fx-font-size: 16;
}
.list-cell:hover{
    -fx-background-color: #5C6370;
    -fx-text-fill: #61AFEF;
}
.list-cell:selected{
    -fx-background-color: #61AFEF;
    -fx-text-fill: #282c34;
}

/* List View */
.list-view{
    -fx-border-color: #5C6370;
    -fx-background-color: #282c34;
}
